configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "Applications";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";
    location: 0;
    width: 36%;
    lines: 10;
    columns: 1;
    font: "Hack Nerd Font 13";
    terminal: "foot";
    sidebar-mode: false;
}

@theme "theme"

